<%= form_for@post, :html => {'data-abide' => ''} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, 'required' => '' %>
    <small class="error">Title is required.</small>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, 'required' => '' %>
    <small class="error">Body is required.</small>
  </div>
  <div class="actions">
    <button type="submit">Submit</button>
  </div>
<% end %>
